

.text-align-left
{
   text-align: left;
}

.text-align-right
{
   text-align: right;
}

.text-align-center
{
   text-align: center;
}


.text-underline, u
{
   text-decoration: none;
   border-bottom: 1px solid $theme-colour-2;
}



.w-100
{
   width: 100%;
}
.w-80
{
   width: 80%;
}
.w-60
{
   width: 60%;
}
.w-40
{
   width: 40%;
}
.w-20
{
   width: 20%;
}
.w-75
{
   width: 75%;
}
.w-50
{
   width: 50%;
}
.w-25
{
   width: 25%;
}
