
/*
   A callout is a big element with a background colour and a thick left border
*/

.callout
{
   box-sizing: border-box;
   border-left: 5px solid $callout-border-colour;
   background-color: $jumbotron-background;
   border-radius: 5px;
   padding: 0.5rem 0.25rem;
   margin: 0.5rem 0;

   p:first-child
   {
      margin-top: 0;
   }

   p:last-child
   {
      margin-bottom: 0;
   }
}
